/build/resources/main/application.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.7/checksums/checksums.lock
/.gradle/8.7/executionHistory/executionHistory.bin
/.gradle/8.7/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.7/fileHashes/fileHashes.bin
/.gradle/8.7/fileHashes/fileHashes.lock
/.gradle/8.7/dependencies-accessors/gc.properties
/.gradle/8.7/gc.properties
/.gradle/vcs-1/gc.properties
/build/classes/java/main/com/oril/healthcare/HealthcareApplication.class
/src/test/java/com/oril/healthcare/HealthcareApplicationTests.java
/build/classes/java/main/com/oril/healthcare/controller/HelloWorldController.class
/.gradle/8.7/fileChanges/last-build.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/build/tmp/compileJava/previous-compilation-data.bin
/.gradle/8.7/fileHashes/resourceHashesCache.bin
/.idea/.name
/out/production/resources/application.yml
/.idea/compiler.xml
/.idea/gradle.xml
/out/production/classes/com/oril/healthcare/HealthcareApplication.class
/out/production/classes/com/oril/healthcare/controller/HelloWorldController.class
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/build/*
/out/*
/.gradle/*
/.idea/*
